# database (auth)
POSTGRES_AUTH_USER=
POSTGRES_AUTH_PASSWORD=
POSTGRES_AUTH_DB_NAME=

# database (scheduler)
POSTGRES_SCHED_USER=
POSTGRES_SCHED_PASSWORD=
POSTGRES_SCHED_DB_NAME=

# AI keys
OPENAI_API_KEY=
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
CLAUDE_API_KEY=

# GCP service account (for rag)
GOOGLE_APPLICATION_CREDENTIALS=

# Spring Boot
SPRING_PROFILES_ACTIVE=

# 앱 환경 구분 (local, test, prod)
ENV=
