######  BASE (공통) DB  #########################################
DB_HOST=
DB_USER=
DB_PASSWORD=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=

######  AUTH 서비스 전용 ########################################
POSTGRES_AUTH_USER=
POSTGRES_AUTH_PASSWORD=
POSTGRES_AUTH_DB_NAME=

######  SCHEDULER 서비스 전용 ###################################
POSTGRES_SCHED_USER=
POSTGRES_SCHED_PASSWORD=
POSTGRES_SCHED_DB_NAME=

######  SECRETS / ETC ###########################################
JWT_SECRET=
OPENAI_API_KEY=
ENV=local